html, body {
          margin: 0;
          padding: 0;
          background-color: #2B1F02;     
}

#wrapper {
          margin: auto;
          background-color: #785300;
          width: 80%;
}

#header {
          display: block;
          width: 100%;
          height: 10%;
          background-color: #2D4578;
}

#boards {
          margin: auto;
          border: 1px solid black;
          table-layout: fixed;
          width: 100%;
          height: 70%;
}

td {
          font-family: tahoma;
          color: #181E2B;
          border: 1px solid black;
          overflow: hidden;
          width: 100%;
}

#footer {
          margin: auto;
          height: 20%;
          width: 80%;
          background-color: #181E2B;  
}

.outside {
          height: 33%;
          width: 100%;
          text-align: center; 
}

h3 {
          font-family: tahoma;
          color: #786B4F;
          font-size: 90%;
}

.inside{
            width: 100%;
            height: 100%;
            border: 1px solid black;
}